
.achievements {
  padding: 3rem 2rem;
  background:  #292218;
  color: #f5e6d3;
  text-align: center;
}

.achievements h1 {
  font-family: "Clicker Script", cursive;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #f5e6d3;
  text-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.8);
}

.achievements h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  color: #d8cbb2;
}

.achievements section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.achievements article {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: transform 0.3s, filter 0.3s;
}

.achievements article:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.achievements article img {
  width: 100%;
  max-height: 24rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.achievements article mark {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  color: #f5c542; /* жёлтый */
  margin-top: auto; /* прижимаем к низу */
}

.achievements footer {
  margin-top: 2.5rem;
  font-size: 1rem;
  color: #ccc;
}

/* --- Планшеты (до 1024px) --- */
@media (max-width: 1024px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }

  nav a, .dropbtn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .dropdown-content {
    position: static;
    width: 100%;
    text-align: center;
  }

  .search-box {
    position: static;
    transform: none;
    margin: 1rem auto;
  }
}

/* --- Телефоны (до 768px) --- */
@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  h2, h3 {
    font-size: 1.1rem;
    text-align: center;
  }

  .about-content,
  .registration,
  .achievements-content,
  .wardroom-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .about-img,
  .achievements-img {
    width: 90%;
    max-width: 400px;
    height: auto;
  }

  .about-text,
  .registration form,
  .achievements-text,
  .wardroom-text {
    width: 90%;
    max-width: 500px;
  }

  nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  nav a {
    border: none;
    display: block;
  }

  .search-box {
    width: 80%;
    justify-content: center;
  }

  .search-box input {
    width: 100%;
    font-size: 1rem;
  }
}

/* --- Очень маленькие экраны (до 480px) --- */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2, h3 {
    font-size: 1rem;
  }

  nav a, .dropbtn {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .about-img {
    width: 100%;
    border-radius: 0.5rem;
  }

  .hover-text h2 {
    font-size: 1.5rem;
  }

  .hover-text p {
    font-size: 0.9rem;
  }

  .search-box {
    width: 90%;
  }
}
